

body {
  margin:0px;
}

#wrapper {
	display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 3fr 3fr 2fr 1fr;
    height: 100%;
}

/* Style the header */
.Header {
  /* Grid: Set Item */
  grid-column:1/5;
  grid-row:1/2;
  
  border: 10px solid #ccc;
  background-color: #f1f1f1;

  text-align: center;  
}

/* Style the Nav*/
.Nav {
  /* Grid: Set Item */
  grid-column:1/2;
  grid-row:2/5;
  
  border: 10px solid #444;
  background-color: #555555;
  
  padding:20px 2.5%;
  
  text-align: center;
  color:#f1f1f1;
}

/* Style the Footer*/
.Main {
  /* Grid: Set Item */
  grid-column:2/4;
  grid-row:2/5;
  
  border: 10px solid #b1b1b1;
  background-color: #f1f1f1;
  
  padding:20px 15%;
  
  text-align: center;
}

.Content {
  /* Grid: Set Item */
  grid-column:4/5;
  grid-row:2/5;
  
  border: 10px solid #444;
  background-color: #555555;
  
  padding:20px 5%;
  
  text-align: center;
  color:#f1f1f1;
}

/* Style the Footer*/
.Footer {
  /* Grid: Set Item */
  grid-column:1/5;
  grid-row:5/6;
  
  /* Set Boxes Color, to difference */
  border: 10px solid #222;
  background-color: #333;
  
  /* Set basic text style */
  text-align: center;
  color: #fff;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 780px){

  body {
    margin:0px;
  }

  #wrapper {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      height:100%;
  }

  /* Style the header */
  .Header {
    /* Grid: Set Item */
    grid-column:1/5;
    grid-row:1/2;

    border: 10px solid #ccc;
    background-color: #f1f1f1;

    text-align: center;  
  }

  /* Style the Nav*/
  .Nav {
    /* Grid: Set Item */
    grid-column:3/5;
    grid-row:2/3;

    border: 10px solid #444;
    background-color: #555555;

    text-align: center;
    color:#f1f1f1;
    
    padding:20px 2.5%;    
  }

  /* Style the Footer*/
  .Main {
    /* Grid: Set Item */
    grid-column:1/3;
    grid-row:2/5;

    border: 10px solid #b1b1b1;
    background-color: #f1f1f1;

    text-align: center;
    
    padding:20px 15%;    
  }

  .Content {
    /* Grid: Set Item */
    grid-column:3/5;
    grid-row:3/5;

    border: 10px solid #444;
    background-color: #555555;

    padding:20px 2.5%;

    text-align: center;
    color:#f1f1f1;
  }

  /* Style the Footer*/
  .Footer {
    /* Grid: Set Item */
    grid-column:1/5;
    grid-row:5/6;

    /* Set Boxes Color, to difference */
    border: 10px solid #222;
    background-color: #333;

    /* Set basic text style */
    text-align: center;
    color: #fff;
  }
}
